
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Sora:wght@100..800&display=swap');
/* google font link */
.font-sora {
    font-family: "Sora", serif;
  }

  .font-adlam {
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
  }
/* Animation */

.jk{
width:21ch;
animation: typing 7s steps(21), blink .5s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
border-right: 4px solid;
font-family: monospace;
font-size: 2em;
}

@keyframes typing {
from {
width: 0
}
}

@keyframes blink {
100% {
border-color: transparent
}
}